#!/bin/sh

export JAVA_OPTS="-server -Xmx{{ java_xmx_megabytes }}m -Djavax.net.ssl.trustStore=/opt/kapa-ca -Djavax.net.ssl.trustStorePassword={{ java_truststore_password }}"
export SP_HOME=/opt/service-provider
export CATALINA_OUT=/data00/logs/catalina.out
export CATALINA_OPTS=" -Djava.rmi.server.hostname={{ sp_host }}"
export UMASK=0022

